*{
    margin: 0;
    padding: 0;
}
#Formulario{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}
.nav{
    background-color: aquamarine;
}
body{
    background-color: #c7ddef;
}